@font-face {
	font-family: "Whyte";
	font-weight: 400 700;
	src: url("../assets/fonts/ABCWhyteVariable-Trial.ttf");
}

@font-face {
	font-family: "Whyte Inktrap";
	font-weight: 580;
	src: url("../assets/fonts/ABCWhyteInktrapVariable-Trial.ttf");
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	--font-body: "Whyte";
	--font-inktrap: "Whyte Inktrap";
	--black: #000;
	--white: #fff;
	--red: #f24e1e;
	--green: #0fa958;
	--yellow: #ffc700;
	--purple: #c7b9ff;
	--max-width: 1280px;
	--container-padding: 20px;
	--transition-duration: 0.1s;

	font-family: var(--font-body);
}
