@font-face {
	font-family: "Whyte";
	font-weight: 400 700;
	src: url("../assets/fonts/ABCWhyteVariable-Trial.ttf");
}

@font-face {
	font-family: "Whyte Inktrap";
	font-weight: 580;
	src: url("../assets/fonts/ABCWhyteInktrapVariable-Trial.ttf");
}

body {
	--font-body: "Whyte";
	--font-inktrap: "Whyte Inktrap";
	--black: #000;
	--white: #fff;
	--red: #e00000;
	--green: #62b400;
	--yellow: #ffd400;
	--purple: #4f66d0;
	--transparent: transparent;
	--max-width: 1280px;
	--transition-duration: 0.1s;
	--outline-width: 0.25rem;
	--bp-tablet: 768px;
	--bp-mobile: 480px;

	font-family: var(--font-body);
}

#__next {
	height: 100%;
}

#__next > div {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
